body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}



.navbar{
    background: #cec5dc;
    height: 5rem;
}
.fa-compass{
    color: #ed0d14;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a{
text-decoration: none;
color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #ed0d14;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}



.f-info-socials i{
        color: #222222;
            font-size: 1.2rem;

        margin-right: 1rem;
    }
.f-info{
    text-align: center;
    height: 8rems;
    display:flex;
    background: #e2d5d5;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.card{
    border:none 1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.card-img-top{
    border-radius: 1rem  !important;
    width:100%;
    object-fit:cover !important;
}
.card-body{
    padding:0 !important;

}
.card-text{
    font-weight:400 !important;
}

.listing-links{
    text-decoration: none;
}
/* card effects */
.card-img-overlay:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 1rem  !important;
}

.add-btn, .edit-btn{
    background: #ed0d14 !important;
    border:none !important;
}

/* show page */

.show-img{

height:30vh;
}

.btns{
    display:flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;


}

/* MAP */
#map{
    height: 400px;
    width:80vh;
}